@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";
}
@using BilliardScoreboard.Game
@using BilliardScoreboard



    <div>
        
        <input id="Button1" type="button" value="22" style="border-radius:50%;
 font-size:62px;
            background-color:black;
            text-align:center;
            color: white;
            border-style: double;
            border-width: 8px;
             width: 200px;
      height: 200px;



            border-color: white;" />
    </div>